<!--The content below is only a placeholder and can be replaced.-->

<div class="row">

  <div class="col-sm-6 col-sm-offset-3">
    <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Admin Details</ng-template>
          <div class="form-group example-container">
            <mat-form-field>
              <input matInput placeholder="Enter Name" formControlName='name'>
            </mat-form-field>
          </div>
          <div class="form-group example-container">
            <mat-form-field>
              <input matInput placeholder="Enter Email Address" formControlName='email'>
            </mat-form-field>
          </div>
          <div class="form-group example-container">
            <mat-form-field>
              <input matInput placeholder="Enter Password" formControlName='password'>
            </mat-form-field>
          </div>
          <div class="form-group example-container">
            <mat-form-field>
              <input matInput placeholder="Confirm Password" formControlName='con_pwd'>
            </mat-form-field>
          </div>
          <div class="form-group example-container">
            <mat-form-field>
              <input matInput placeholder="Enter Mobile No." formControlName='mobile_no'>
            </mat-form-field>
          </div>
          <div class="text-right">
            <button mat-button matStepperNext class="next">
              <mat-icon>exit_to_app</mat-icon>
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup" (submit)="submitRoomie()">
          <ng-template matStepLabel>Roomies Details</ng-template>

          <div formArrayName="items" *ngFor="let item of secondFormGroup.get('items').controls; let i = index;">
            <h4>Roomie:{{i+1}}</h4>
            <div [formGroupName]="i">
              <div class="form-group example-container">
                <mat-form-field>
                  <input matInput placeholder="Enter Name" formControlName='name'>
                </mat-form-field>
              </div>
              <div class="form-group example-container">
                <mat-form-field>
                  <input matInput placeholder="Enter Email Address" formControlName='email'>
                </mat-form-field>
              </div>
              <div class="form-group example-container">
                <mat-form-field>
                  <input matInput placeholder="Enter Mobile No." formControlName='mobile_no'>
                </mat-form-field>
              </div>
              <div class="text-right">
                <a *ngIf="i>0?true:false" (click)="deleteRoomieForm(i)"><i class="far fa-trash-alt"></i></a>
             </div>
            </div>

          </div>
          <div class="text-left">
            <a (click)="addItem()"><i class="fas fa-plus-circle add">   Add Roomie</i>
            
             </a>
          </div>
          <div class="text-right">

            <button mat-button matStepperPrevious class="back">Back</button>
            &nbsp;
            <button mat-button class="next" type="submit"> <mat-icon>exit_to_app</mat-icon></button>
          </div>
         
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>create</ng-template>
        <div class="form-group example-container">
          <mat-checkbox>accept terms and condition</mat-checkbox>
        </div>
        <div class="text-center">
          <button mat-button (click)="roomieDetails()">submit</button> &nbsp;
          <button mat-button (click)="stepper.reset()" class="back">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>

</div>